.item {
    width: 350px;
    height: 470px;
    margin-left: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item--image-container {
    width: 233px;
    height: 311px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item--image-container > img {
    width: 180px;
    height: 230px;
}

.hover-content {
    display: none;
    width: 100%;
    position: relative;
}

.quick-add {
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--newblack);
    height: 50px;
    color: white;
    font-size: 1rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 2;
    position: absolute;
}

.item-sizes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    opacity: 0;
    position: absolute;
    transition: 0.3s;
}

.item-sizes > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--backg);
    transition: 0.3s;
    border-right: 1px solid #eee;
    border-top: 1px solid var(--newblack);
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
}

.item:hover .hover-content {
    display: block;
    opacity: 1;
}

.hover-content:hover .item-sizes {
    z-index: 3;
    opacity: 1;
}

.item-sizes > div:hover {
    background: var(--newblack);
    color: var(--backg);
    cursor: pointer;
}

.item-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--newblack);
    gap: 12px;
    padding-top: 0.5em;
    height: 110px;
}
.item-color {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--newblack);
}
.item-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--newblack);
    text-align: start;
}
.item-price {
    font-size: 0.8rem;
    color: var(--newblack);
    letter-spacing: 2px;
}
