header {
    padding-top: 1em;
    padding-bottom: 1em;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
h1 {
    font-size: 1.8rem;
    font-weight: bolder;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 0;
}
a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
.icons-container {
    display: flex;
    gap: 20px;
}
.icons-container > svg {
    cursor: pointer;
}
