@font-face {
    font-family: Monument;
    src: url(./assets/PPMonumentExtended-Regular.otf);
}
@font-face {
    font-family: MonumentBlack;
    src: url(./assets/PPMonumentExtended-Black.otf);
}
:root {
    --text: #090909;
    --backg: white;
    --newblack: #090909;
}

body {
    margin: 0;

    background: var(--backg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
